run
.gradle
gradle
out

*.class
README.txt
CREDITS-fml.txt
*.iml
*.ipr
*.iws
forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
gradlew
*.bat
MinecraftForge-License.txt