# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
.gradle
build

# other
eclipse
run

CREDITS-fml.txt
forge-*-changelog.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
Paulscode IBXM Library License.txt
README.txt
MinecraftForge-License.txt
Paulscode SoundSystem CodecIBXM License.txt