# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

CREDITS-fml.txt
forge-1.8.9-11.15.1.1808-changelog.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
Paulscode IBXM Library License.txt
README.txt
MinecraftForge-License.txt
Paulscode SoundSystem CodecIBXM License.txt
*.bat
gradlew
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties